body{
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
    align-items: center
}

canvas{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./assets/tela_inicio.jpeg");
}

.botao{
position: absolute;
left: 620px;
top: 510px;
}